footer.main-footer
    .container
        section.main-footer__appeal
            h2.main-footer__slogan Успей купить!
            span Подпишись и успей словить все акции
        form.main-footer__subscribe
            fieldset.main-footer__email-sub
                input(type="email" placeholder='Email')
                button.btn.main-footer__btn Подписаться
                
            label(for="email-checkbox").checbox
                input(type="checkbox" id='email-checkbox' name='email_sub')    
                span.checkbox__text Подписаться на новости    
                
            