header.main-header
    .container
        .main-header__wrap
            a.main-header__logo(href="index.html")
                img(src="img/header/logo.svg", alt="Logotype")
            nav.main-header__nav
                ul
                    li
                        a.main-header__link(href="#") Main
                    li
                        a.main-header__link(href="#") Gallery
                    li
                        a.main-header__link(href="#") News
                    li
                        a.main-header__link(href="#") Profile
            .main-header__contacts
                a(href="tel:+544349000000") +544 3490 00000
                span Звони скорее!
        h2.main-header__title Найдено 349 котов        