/*-------------------
    common styles
---------------------*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: $default_font;
    @include font;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    box-sizing: content-box;
    max-width: 1180px;

    padding: 0 20px;
    margin: 0 auto;
}

h2 {
    @include font(38px, 46px, 700);
}

.btn {
    display: block;
    width: max-content;
    box-sizing: border-box;

    padding: {
        top: 22px;
        bottom: 24px;
        left: 75px;
        right: 75px;
    };
    border-radius: 10px;

    color: var(--white-text);
    text-align: center;
    @include font(14px, 17px, 700);

    background-color: var(--blue-color);
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #77cae4;
    }
    &:active {
        background-color: #69c6e2;
    }
}

.is-open {
    display: block !important;
}
.js-bg {
    background: rgba(31, 32, 33, 1) !important;
}