<!DOCTYPE html>
html(lang="en")
    head
        include parts/_meta.pug
    body
        //- Header
        include parts/_header.pug
        //- Content
        main
            .container
                section.sorter
                    span.sorter__title Сортировать по:
                    ul.sorter__list
                        li
                            a.sorter__link(href="#") Цене
                        li
                            a.sorter__link(href="#") Возрасту
                section.catalog
                    .catalog__grid
                        include parts/_mixins.pug
                        +card('', "img/MainContent/cat1.png", "", "30 000 руб.", "", "Купить")
                        +card('hidden', "img/MainContent/cat3.png", "catalog__like--liked", "40 000 руб.", "catalog__btn--disabled", "Продан")
                        +card('hidden', "img/MainContent/cat2.png", "", "20 000 руб.", "", "Купить")
                        +card('hidden', "img/MainContent/cat1.png", "", "25 000 руб.", "", "Купить")
                        +card('', "img/MainContent/cat2.png", "", "30 000 руб.", "", "Купить")
                        +card('hidden', "img/MainContent/cat3.png", "catalog__like--liked", "10 000 руб.", "catalog__btn--disabled", "Продан")
                    button.catalog__more.btn Показать ещё 20
        //- Footer
        include parts/_footer.pug            